.idea
.DS_Store
/target/
resultados/instance_0020.txt
resultados/instance_0019.txt
resultados/instance_0018.txt
resultados/instance_0017.txt
resultados/instance_0016.txt
resultados/instance_0015.txt
resultados/instance_0014.txt
resultados/instance_0013.txt
resultados/instance_0012.txt
resultados/instance_0011.txt
resultados/instance_0010.txt
resultados/instance_0009.txt
resultados/instance_0008.txt
resultados/instance_0007.txt
resultados/instance_0006.txt
resultados/instance_0005.txt
resultados/instance_0004.txt
resultados/instance_0003.txt
resultados/instance_0002.txt
resultados/instance_0001.txt
.venv/pyvenv.cfg
.venv/bin/python3.12
.venv/bin/python3
.venv/bin/python
checker.py
resultados/instance_0001.txt
resultados/instance_0003.txt
resultados/instance_0004.txt
resultados/instance_0005.txt
resultados/instance_0007.txt
resultados/instance_0008.txt
resultados/instance_0009.txt
resultados/instance_0010.txt
resultados/instance_0011.txt
resultados/instance_0012.txt
resultados/instance_0013.txt
resultados/instance_0014.txt
resultados/instance_0017.txt
resultados/instance_0018.txt
